/* 
    Author     : Robert Erickson
    Edited by David Duong
*/
@import url('reset.css');
/*------------------------   standard elements  ----------------------------- */
body{
    margin: 0 5% 0 5%;
}
article{
    padding: 2em;
}
figcaption {
    color: #839e99;
    font-style: italic;
    text-align: center;
}

header{
    overflow: auto; /* forces header to fit to figure */
}

header .float_left{
    margin-top: 0;
}

header h1{
    padding-bottom: 2em;
    padding-top: 75px;
}

img{
    max-width: 100%; /* image strinks to fit containor but does not stretch */
}

p{
    margin: 1em 0 1em 0;
}
section{
    padding: 2em;
    width: 90%;
    border: thin solid black;
}

.oneColumn{
    width: 100%;
}
.fourColumns{
    width: 25%;
    float: left;
}

.clearFloats{
    clear: both;
}

.academicYear{
    padding: 2em 0 2em 0;
    
}
.academicYear:after {
  content:"";
  display:table;
  clear:both;
}
/*------------------------   classes           ------------------------------ */
.float_left {
    border: thin solid darkslategray;
    float: left;
    margin: 1em 1em 1em 0;
    padding: 0.5em;
}

.even{
    background-color: whitesmoke;
}

.odd{
    background-color: lightcyan;
}

.small {
    width: 350px;
    height: 235px;
}

figure{
    border: thin solid;
    margin: 0 auto;
}

/*------------------------   nav section only  ------------------------------ */
nav ol li{
    display: inline-block;
    list-style-type: none;
    padding-right: 2em;
    padding-bottom: 2em;
}

/*------------------------   table page  only  ------------------------------ */
#table aside{
    height: 600px; 
    float: left; 
    overflow: auto; 
    margin-left: 2em;            
}
#table section{
    width: 35%; 
    height: 600px; 
    float: left; 
    overflow: auto;
}
#table table{
    border: medium #000080 solid;
    border-collapse: collapse;
}

#table td {
    border: thin #000080 solid;
    border-collapse: collapse;
}

#table th{
    text-align: left;
}


.Fall{
    background-color:orange;
}
.Spring{
    background-color: lightskyblue;
}

/*===================  Form  ==================================== */
#form article#main{
    float: none;
    margin: auto; /* because of the fixed width this centers the form */
    text-align: left;
    width: 600px; /* not repsonive but fixed */
}


/* need to clear any floats that may exist */
fieldset{
    border: 2px solid #000000;
    clear: both;  
    margin: 3em;
    text-align: center;
    border-radius:10px 40px 40px 10px;
}
/* just pushes content to left side of the box. */
fieldset.basicInfo{
    display: block;
    float: none;
    padding-top: 1em;
    padding-bottom: 1em;
}
/* when you look at the labels this pushes then next to the input and right
aligns them. Display block means they are each on their own line. */
fieldset.basicInfo label{
    display: block;
    text-align: left; /* pushes the text to the right where they line up */
    /* the float left above pushes everything back to the left*/
}
fieldset.basicInfo input{
    width: 50%;
    float: right;
    margin-left: 10px;
    margin-right: 10px;
}


.number {
    background-color: #FF5A09;
    color: white;
    height: 30px;
    width: 30px;
    display: inline-block;
    font-size: 0.8em;
    line-height: 30px;
    text-align: center;
    border-radius: 100%;
}
fieldset.courseInfo input{
    width: 15em; /* works with above to be the same size for the boxes */
    margin-left: 1em;
    margin-right: 1em;
}

fieldset.buttons{
    border: none;


}

fieldset.wrapper {
    border: 0;
    margin: auto;
}

fieldset.wrapper legend {
    color: #FF5A09;
    font-size: 1.2em;
    font-weight: bold;
    margin-top: 10px;
}

fieldset.wrapper > legend {
    /* i only want the first legend ie if it follows the class wrapper */
    font-size: 2em;
}



/* =================== Label ==================================== */

label {
    color: #FF9900;
    display: block;
    font-size: .9em;
    font-weight: bold;
    margin-bottom: 8px;
}
/* =================== Mistakes ==================================== */
.mistake {
    color: #fff;
    background-color:#E42217;
    border: medium solid #000;
}


#errors ol li{
    color:#F70D1A;
    font-weight: bold;
}
#errorsHead{
    color:#F70D1A;
    font-weight: bold;
    text-align: center;
}

footer{
    clear: both;
    padding: 0.8em;
}
